In [68]:
import pandas as pd

In [69]:
df = pd.read_csv('kc_house_data.csv', encoding='windows-1251')

In [70]:
df.head()

,Unnamed: 0,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [71]:
df.dtypes

Unnamed: 0         int64
id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [72]:
# Сохраните первые 5 строк в переменную stroki
stroki = df.head(5)
print(stroki)

   Unnamed: 0          id        date     price  bedrooms  bathrooms  \
0           0  7129300520  2014-10-13  221900.0         3       1.00
1           1  6414100192  2014-12-09  538000.0         3       2.25
2           2  5631500400  2015-02-25  180000.0         2       1.00
3           3  2487200875  2014-12-09  604000.0         4       3.00
4           4  1954400510  2015-02-18  510000.0         3       2.00

   sqft_living  sqft_lot  floors  waterfront  ...  grade  sqft_above  \
0         1180      5650     1.0           0  ...      7        1180
1         2570      7242     2.0           0  ...      7        2170
2          770     10000     1.0           0  ...      6         770
3         1960      5000     1.0           0  ...      7        1050
4         1680      8080     1.0           0  ...      8        1680

   sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
0              0      1955             0    98178  47.5112 -122.257
1            400      1951          1991    98125  47.7210 -122.319
2              0      1933             0    98028  47.7379 -122.233
3            910      1965             0    98136  47.5208 -122.393
4              0      1987             0    98074  47.6168 -122.045

   sqft_living15  sqft_lot15
0           1340        5650
1           1690        7639
2           2720        8062
3           1360        5000
4           1800        7503

[5 rows x 22 columns]

In [73]:
# Создать новый признак price_per_sq_lot, который будет содержать avg = среднюю стоимость за один кв. метр общей площади
avg = df['price_per_sq_lot'] = df['price'] / df['sqft_lot']

In [83]:
# Создать новый признак delta_renovated, который будет содержать разницу в годах между годом реновации дома 
# и годом постройки дома и сохраните в renv. Если реновации дома не было, то в новом признаке поставьте 0
# renv = df['delta_renovated'] = df.apply(lambda row: max(row['yr_renovated'] - row['yr_built'], 0), axis=1)
df['delta_renovated'] = df['yr_renovated'] - df['yr_built']
df['delta_renovated'] = df['delta_renovated'].apply(lambda cell: cell if cell > 0 else 0)
renv = df['delta_renovated']
print(renv)
# df['delta_renovated'].describe()

0         0
1        40
2         0
3         0
4         0
         ..
21608     0
21609     0
21610     0
21611     0
21612     0
Name: delta_renovated, Length: 21613, dtype: int64

In [75]:
# Создайте признаки года продажи, месяца продажи и сохраните в year_ch, month_ch
year_ch = df['year_ch'] = df['date'].apply(lambda x: int(x[:4]))

# в автотесте другой формат сохраненной даты
month_ch = df['month_ch'] = df['date'].apply(lambda x: int(x[4:6]))
month_ch

0       -1
1       -1
2        0
3       -1
4        0
        ..
21608    0
21609    0
21610    0
21611    0
21612   -1
Name: date, Length: 21613, dtype: int64

In [ ]:
# Удалите признаки date, zipcode, lat, long и сохраните в new
new = df.drop(columns=['date', 'zipcode', 'lat', 'long'], inplace=True)
print(new)

In [ ]:
# решение автотеста
import pandas as pd
df = pd.read_csv('kc_house_data.csv', sep=',')
stroki = df.head()
avg = df['price_per_sq_lot'] = df['price'] / df['sqft_lot']
df['delta_renovared'] = df['yr_renovated'] - df['yr_built']
renv = df['delta_renovared'] = df['delta_renovared'].apply(lambda x: x if x > 0 else 0)
year_ch = df['year'] = df['date'].apply(lambda x: int(x[:4]))
month_ch = df ['month']=df['date'].apply(lambda x: int(x[4:6]))
new = df.drop(columns=['date','zipcode', 'lat', 'long'], inplace=True)