In [9]:
import pandas as pd

In [10]:
df = pd.read_csv('kc_house_data.csv', encoding='windows-1251')

In [11]:
df.head()

,Unnamed: 0,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [106]:
# 1 среднюю стоимость домов в зависимости от количества спален и сохраните в avg
avg = df.pivot_table(index='bedrooms', columns=[], values='price', aggfunc='mean').sort_values(by='price')
print(avg)

                 price
bedrooms
1         3.176429e+05
2         4.013727e+05
0         4.095038e+05
3         4.662321e+05
11        5.200000e+05
4         6.354195e+05
33        6.400000e+05
5         7.865998e+05
10        8.193333e+05
6         8.255206e+05
9         8.939998e+05
7         9.511847e+05
8         1.105077e+06

In [73]:
# 2 Найдите минимальную min, среднюю mean и максимальную max стоимости домов в зависимости от состояния дома и сохраните в price.
price = df.groupby('condition').agg({'price': ['min', 'mean', 'max']})
print(price)

              price
                min           mean        max
condition
1           78000.0  334431.666667  1500000.0
2           80000.0  327287.145349  2555000.0
3           75000.0  542012.578148  7062500.0
4           89000.0  521200.390033  7700000.0
5          110000.0  612418.089359  3650000.0

In [78]:
# 3 Постройте таблицу с подсчетом количества домов в данных в зависимости от вида на набережную waterfront и оценкой вида view и сохраните ее в view_waterfront.
view_waterfront = pd.crosstab(index=df['waterfront'], columns=df['view'])
print(view_waterfront)

view            0    1    2    3    4
waterfront
0           19489  331  955  491  184
1               0    1    8   19  135

In [79]:
# 4 Каких домов в зависимости от этажности и количества спален больше? Постройте эту таблицу, содержащую в себе информацию о спальнях и этажности, и сохраните ее в bedrooms_floors.
bedrooms_floors = pd.crosstab(index=df['floors'], columns=df['bedrooms'])
print(bedrooms_floors)

bedrooms  0    1     2     3     4    5    6   7   8   9   10  11  33
floors
1.0        4  162  1951  5455  2383  605  104   9   5   0   1   0   1
1.5        0   21   182   786   698  185   30   7   1   0   0   0   0
2.0        6   12   497  3118  3682  775  119  19   6   4   2   1   0
2.5        0    1     5    56    58   23   14   2   0   2   0   0   0
3.0        2    3   123   405    61   13    5   1   0   0   0   0   0
3.5        1    0     2     4     0    0    0   0   1   0   0   0   0

In [92]:
# 5 Постройте таблицу с подсчетом медианной стоимости домов в данных в зависимости от состояния дома и оценки дома и сохраните в 'median_price'.
median_price = df.pivot_table(index='condition', columns=['grade'], values='price', aggfunc='median', fill_value=0)
print(median_price)

grade            1         3         4         5         6         7   \
condition
1          142000.0       0.0  150000.0  190000.0  255000.0  403500.0
2               0.0  280000.0  145000.0  180000.0  235000.0  305000.0
3               0.0   75000.0  205000.0  234475.0  265000.0  357500.0
4               0.0       0.0  238525.0  229975.0  295000.0  390000.0
5               0.0  262000.0       0.0  227450.0  285475.0  456000.0

grade            8          9          10         11         12         13
condition
1          932500.0        0.0        0.0        0.0        0.0        0.0
2          429000.0   715000.0  1752500.0        0.0        0.0        0.0
3          485000.0   689000.0   890000.0  1209500.0  1807500.0  2888000.0
4          571250.0   823500.0  1030000.0  1685000.0  2125000.0  5750000.0
5          696000.0  1078000.0  1650000.0  2050000.0  1990000.0        0.0

In [ ]:
# решение автотеста
import pandas as pd
df = pd.read_csv('kc_house_data.csv', sep=',')

# 1. Средняя стоимость домов в зависимости от количества спален (отсортирована от меньшей к большей)
avg = df.groupby('bedrooms').agg({'price':'mean'}).sort_values('price')

# 2. Минимальная, средняя и максимальная стоимости домов в зависимости от состояния дома
price = df.groupby('condition').agg({'price':['min', 'mean', 'max']})

# 3. Таблица с подсчетом количества домов в зависимости от видов на набережную и оценок вида
view_waterfront = df.pivot_table(index='waterfront', columns='view', values='condition', aggfunc='count', fill_value=0)

# 4. Таблица с подсчетом количества домов в зависимости от этажности и количества спален
bedrooms_floors = pd.crosstab(index=df['floors'], columns=df['bedrooms'])

# 5. Таблица с медианной стоимостью домов в зависимости от состояния дома и оценки дома
median_price = df.pivot_table(index='condition', columns='grade', values='price', aggfunc='median', fill_value=0)